#user-input {
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#307f6d, #2c986d);
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 10px 13px -7px #303030;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

#user-input label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

#user-input input {
  width: 20rem;
  height: 3rem;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 0.3rem;
  color: #fff;
  padding-left: 1rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 425px) {
  #user-input {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }
  .input-group {
    align-items: center;
    width: 90%;
    padding: 0.3rem;
  }
  #user-input input {
    width: 100%;
    height: 2rem;
    padding-left: 0.4rem;
    font-size: 1.2rem;
  }
}
